absl-py==1.4.0
addict==2.4.0
aiohttp==3.8.3
aiosignal==1.2.0
ansi2html==1.8.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.4.1
arrow==1.2.3
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
autopep8==1.6.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.4
Bottleneck==1.3.5
brotlipy==0.7.0
cachetools==4.2.2
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
clang==16.0.1.1
click==8.0.4
cloudpickle==2.2.1
comm==0.1.4
ConfigArgParse==1.7
contextlib2==21.6.0
contourpy==1.0.5
coverage==6.3.2
cryptography==38.0.4
cycler==0.11.0
Cython==0.29.32
dash==2.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.7
dm-tree==0.1.8
entrypoints==0.4
etils==1.4.1
exceptiongroup==1.1.2
executing==1.2.0
fastjsonschema==2.18.0
Flask==2.2.5
flatbuffers==23.5.26
flit_core==3.6.0
fonttools==4.25.0
fqdn==1.5.1
frozenlist==1.3.3
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
grpcio==1.56.2
h5py==3.9.0
idna==3.4
importlib-metadata==4.11.3
importlib-resources==6.0.1
ipykernel==6.25.1
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
itsdangerous==2.1.2
jax
jaxlib
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_packaging
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-Pygments
jupyterlab_server
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
ml-collections
multidict
munkres
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
oauthlib
olefile
open3d
opencv-python
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
plotly
pooch
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyemd
Pygments
PyJWT
pyOpenSSL
pyparsing
pyquaternion
pyrsistent
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
requests-oauthlib
requests-unixsocket==0.3.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.9.2
rsa==4.7.2
scikit-learn==1.3.0
scipy==1.10.0
seaborn==0.12.2
Send2Trash==1.8.2
setuptools
sip
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
stack-data==0.6.2
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-addons==0.21.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0
tensorflow-gan==2.1.0
tensorflow-hub==0.14.0
tensorflow-io==0.33.0
tensorflow-io-gcs-filesystem==0.33.0
tensorflow-metadata==1.13.1
tensorflow-probability==0.21.0
termcolor==2.1.0
terminado==0.17.1
testpath==0.6.0
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
torch-tb-profiler
torchaudio
tornado
tqdm
traitlets
typeguard
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
yarl
zipp
